---
import { Font } from 'astro:assets'
import type { Preload } from '~/types'

interface Props {
  title: string
  description?: string | undefined
  preload?: Array<Preload> | undefined
  canonical?: string | undefined
  image?: string | undefined
  themeColor?: string | undefined
}

const { title, description, preload, image, canonical, themeColor = '#0099ff' } = Astro.props

const determineCanonicalURL = () => {
  if (Astro.url.host.includes('localhost')) {
    return 'http://localhost:4321'
  } else if (Astro.url.host.includes('192.168.100.31')) {
    return 'http://192.168.100.31:4321'
  } else if (Astro.url.host.includes('172.31.48.1')) {
    return 'http://172.31.48.1:4321'
  }
  return canonical || Astro.url.pathname
}
const canonicalUrl = new URL(determineCanonicalURL(), Astro.site)
---

<meta charset='UTF-8' />
<title>{title}</title>
<meta
  name='viewport'
  content='width=device-width'
/>
<meta
  name='description'
  content={description}
/>
<meta
  name='theme-color'
  content={themeColor}
/>
<meta
  name='keywords'
  content=''
/>

<link
  rel='icon'
  type='image/webp'
  href='/favicon.webp'
/>
<link
  rel='apple-touch-icon'
  href='/favicon.webp'
/>
<link
  rel='manifest'
  href='/manifest.webmanifest'
/>
<meta
  name='msapplication-theme'
  content={themeColor}
/>
<meta
  name='msapplication-config'
  content='browserconfig.xml'
/>

<link
  rel='canonical'
  href={canonicalUrl}
/>
<!-- Open Graph Facebook and other pages -->
<meta
  property='og:url'
  content={canonicalUrl}
/>
<meta
  property='og:type'
  content='website'
/>
<meta
  property='og:title'
  content={title}
/>
<meta
  property='og:description'
  content={description}
/>
<meta
  property='og:image'
  content={image}
/>
<meta
  name='og:site_name'
  content='Sleep Token Argentina'
/>
<meta
  name='og:locale'
  content='es_AR'
/>
<!-- Open Graph Twitter and other pages -->
<meta
  name='twitter:card'
  content='summary_large_image'
/>
<meta
  name='twitter:site'
  content='@SleepTokenArg'
/>
<meta
  name='twitter:creator'
  content='@CaroOcta00'
/>
<meta
  name='twitter:title'
  content={title}
/>
<meta
  name='twitter:description'
  content={description}
/>
<meta
  name='twitter:image'
  content={image}
/>

<!-- Robots and googlebot -->
<meta
  name='robots'
  content='index, follow'
/>
<meta
  name='googlebot'
  content='index, follow'
/>

<!-- <link rel='preload' href='' />  -->
{
  preload?.map(({ href, as, type, rel = 'preload', crossorigin }) => (
    <link
      rel={rel}
      href={href}
      as={as}
      type={type}
      crossorigin={crossorigin}
    />
  ))
}

<Font
  cssVariable='--font-montserrat'
  preload
/>
<Font
  cssVariable='--font-source-sans-pro'
  preload
/>
